    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, sans-serif;
    }

body {
    background: rgb(27, 26, 26);
    margin: 0;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}

.container > div {
    margin-bottom: 50px;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
}

.card {
    background: rgb(49, 47, 47);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 13px;
}

.valor {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#meuGrafico {
    height: 350px;
}

.tabelaVendas {
    background: rgb(49, 47, 47);
    border-radius: 12px;
    padding: 20px;
    width: 100%;
}

.tabelaVendas td {
    text-align: center;
}

.status {
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 12px;
}


.status.pendente {
    background: #fed7aa;
    color: #92400e;
}

.status.pago {
    background: #d1fae5;
    color: #065f46;
}